@model Web.Models.Reservation.ReservationCheckoutViewModel

@{
    ViewData["Title"] = "Checkout reservation";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Checkout">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => m.Id)

            <p><strong>@Html.DisplayNameFor(model => model.RoomType):</strong> @Html.DisplayFor(model => model.RoomType)</p>
            <p><strong>@Html.DisplayNameFor(model => model.CustomerFullName):</strong> @Html.DisplayFor(model => model.CustomerFullName)</p>
            <p><strong>@Html.DisplayNameFor(model => model.NoOfNights):</strong> @Html.DisplayFor(model => model.NoOfNights)</p>

            @if (Model.HotelFacilities.Count > 0)
            {
                <p><strong>Hotel facilities:</strong></p>
                <ul>
                    @foreach (string facility in Model.HotelFacilities)
                    {
                        <li>@facility</li>
                    }
                </ul>
            }
            else
            {
                <p><strong>Hotel facilities:</strong> None of the hotel facilities were selected at reservation</p>
            }

            @if (Model.RoomFacilities.Count > 0)
            {
                <p><strong>Select room facilities that apply:</strong></p>
                @for (int i = 0; i < Model.RoomFacilities.Count; i++)
                {
                    <div class="form-check">
                        <input asp-for="@Model.RoomFacilities[i].Selected" id="@Model.RoomFacilities[i].Id" class="form-check-input" type="checkbox" value="" />
                        <label class="form-check-label" for="@Model.RoomFacilities[i].Id">@Model.RoomFacilities[i].Name</label>
                        <input type="hidden" asp-for="@Model.RoomFacilities[i].Id" />
                        <input type="hidden" asp-for="@Model.RoomFacilities[i].Selected" />
                    </div>
                }
            }
            else
            {
                    <p><strong>Room facilities:</strong> @Model.RoomType.ToLower() rooms does not have facilities</p>
            }

            <br />
            <br />

            <div class="form-group">
                <a id="CalculatePrice" class="btn btn-default">Calculate price</a>
                <span id="TotalPriceContainer" style="display: none;"><strong>Total price:</strong> <span id="TotalPrice"></span><span> &euro;</span></span>
            </div>

            <div class="form-group">
                <input type="submit" id="Checkout" value="Checkout" class="btn btn-default" disabled="disabled" />
                <span id="CheckoutInfo">Please calculate the price first in order to checkout</span>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function() {
            $('#CalculatePrice').click(function (event) {
                event.preventDefault();

                var roomFacilityIds = [];
                $('.form-check-input:checked').each(function () {
                    roomFacilityIds.push(this.id);
                });

                var reservationId = $('#Id').val();
                $.post('/Reservation/CalculatePrice', { id: reservationId, roomFacilityIds: roomFacilityIds })
                    .done(function (price) {
                        $('#TotalPrice').text(price);
                        $('#TotalPriceContainer').show();
                    })
                    .fail(function () {
                        alert('An error has occured while calculating total price!');
                    })
                    .always(function () {
                        $('#CheckoutInfo').hide();
                        $('#Checkout').removeAttr('disabled');
                    });
            });
        });
    </script>
}
