@using Web.Models.Reservation

@model ReservationCheckoutViewModel

@{
    ViewData["Title"] = "Checkout reservation";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Checkout">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(m => m.Id)

            <p><strong>@Html.DisplayNameFor(model => model.RoomType):</strong> @Html.DisplayFor(model => model.RoomType)</p>
            <p><strong>@Html.DisplayNameFor(model => model.CustomerFullName):</strong> @Html.DisplayFor(model => model.CustomerFullName)</p>
            <p><strong>@Html.DisplayNameFor(model => model.NoOfNights):</strong> @Html.DisplayFor(model => model.NoOfNights)</p>

            @if (Model.HotelFacilities.Count > 0)
            {
                <p><strong>Hotel facilities:</strong></p>
                <ul>
                    @foreach (FacilityViewModel facility in Model.HotelFacilities)
                    {
                        @if (facility.FreeOfCharge)
                        {
                            <li>@facility.Name - free</li>
                        }
                        else
                        {
                            <li>@facility.Name - @facility.UnitPrice &euro;</li>
                        }
                    }
                </ul>
            }
            else
            {
                <p><strong>Hotel facilities:</strong> None of the hotel facilities were selected at reservation</p>
            }

            @if (Model.RoomFacilities.Count > 0)
            {
                <p><strong>Select room facilities that apply:</strong></p>
                @for (int i = 0; i < Model.RoomFacilities.Count; i++)
                {
                <div class="form-check">
                    <input asp-for="@Model.RoomFacilities[i].Selected" id="@Model.RoomFacilities[i].Id" class="form-check-input" type="checkbox" value="" />
                    @if (@Model.RoomFacilities[i].FreeOfCharge)
                    {
                        <label class="form-check-label" for="@Model.RoomFacilities[i].Id">@Model.RoomFacilities[i].Name - free</label>
                    }
                    else
                    {
                        <label class="form-check-label" for="@Model.RoomFacilities[i].Id">@Model.RoomFacilities[i].Name - @Model.RoomFacilities[i].UnitPrice &euro;</label>
                    }
                </div>
                }
            }
            else
            {
                    <p><strong>Room facilities:</strong> @Model.RoomType.ToLower() rooms does not have facilities</p>
            }

            <br />
            <br />

            <div class="row">
                <div class="col-sm-3">
                    <button type="button" id="CalculatePrice" class="btn btn-block">Calculate price</button>
                </div>
                <div class="col">
                    <p id="TotalPriceContainer" style="display: none;"><strong>Total price:</strong> <span id="TotalPrice"></span><span> &euro;</span></p>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-3">
                    <button type="submit" id="Checkout" class="btn btn-block" disabled>Checkout</button>
                </div>
                <div class="col">
                    <p id="CheckoutInfo">Please calculate the price first in order to checkout</p>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function() {
            $('#CalculatePrice').click(function (event) {
                event.preventDefault();

                var roomFacilityIds = [];
                $('.form-check-input:checked').each(function () {
                    roomFacilityIds.push(this.id);
                });

                var reservationId = $('#Id').val();
                $.post('/Reservation/CalculatePrice', { id: reservationId, roomFacilityIds: roomFacilityIds })
                    .done(function (price) {
                        $('#TotalPrice').text(price);
                        $('#TotalPriceContainer').show();
                    })
                    .fail(function () {
                        alert('An error has occured while calculating total price!');
                    })
                    .always(function () {
                        $('#CheckoutInfo').hide();
                        $('#Checkout').removeAttr('disabled');
                    });
            });
        });
    </script>
}
