@model Web.Models.Reservation.ReservationEditViewModel

@{
    ViewData["Title"] = "Create reservation";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h4 class="card-title">Stay period</h4>
        <p class="card-text">Check-in date: @Model.ReservationPeriod.CheckinDate.ToString("dd-MM-yyyy")</p>
        <p class="card-text">Check-out date: @Model.ReservationPeriod.CheckoutDate.ToString("dd-MM-yyyy")</p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (Model.AvailableRoomTypes.Count == 0)
        {
            <p class="text-danger">No available rooms for selected period.</p>
        }
        else
        {
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.HiddenFor(m => m.ReservationPeriod.CheckinDate)
                @Html.HiddenFor(m => m.ReservationPeriod.CheckoutDate)
                <div class="form-group">
                    <label asp-for="RoomId" class="control-label"></label>
                    <select asp-for="RoomId" asp-items="@(new SelectList(Model.AvailableRoomTypes, "Id", "Type"))" class="form-control"></select>
                    <span asp-validation-for="RoomId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerFirstName" class="control-label"></label>
                    <input asp-for="CustomerFirstName" class="form-control" />
                    <span asp-validation-for="CustomerFirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerLastName" class="control-label"></label>
                    <input asp-for="CustomerLastName" class="form-control" />
                    <span asp-validation-for="CustomerLastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerPhone" class="control-label"></label>
                    <input asp-for="CustomerPhone" class="form-control" />
                    <span asp-validation-for="CustomerPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HotelFacilityIds" class="control-label"></label>
                    <select multiple="multiple" asp-for="HotelFacilityIds" asp-items="@(new SelectList(Model.HotelFacilities, "Id", "Name"))" class="form-control multi-select"></select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn">Create</button>
                </div>
            </form>
        }
    </div>
</div>

<div>
    <a asp-action="SelectStayPeriod">Select another period</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
