@model IEnumerable<Web.Models.Reservation.ReservationViewModel>

@{
    ViewData["Title"] = "Reservations";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CustomerFullName)</th>
            <th>@Html.DisplayNameFor(model => model.RoomType)</th>
            <th>@Html.DisplayNameFor(model => model.ReservationPeriod.CheckinDate)</th>
            <th>@Html.DisplayNameFor(model => model.ReservationPeriod.CheckoutDate)</th>
            <th>@Html.DisplayNameFor(model => model.CreationDate)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>@Html.DisplayFor(modelItem => item.CustomerFullName)</td>
            <td>@Html.DisplayFor(modelItem => item.RoomType)</td>
            <td>@Html.DisplayFor(modelItem => item.ReservationPeriod.CheckinDate)</td>
            <td>@Html.DisplayFor(modelItem => item.ReservationPeriod.CheckoutDate)</td>
            <td>@Html.DisplayFor(modelItem => item.CreationDate)</td>
            <td>
                @if (item.CanCheckout)
                {
                    @Html.ActionLink("Checkout", "Checkout", new { id = item.Id })
                }
                else
                {
                    <span>Check-out not available</span>
                }
            </td>
        </tr>
}
    </tbody>
</table>
