@model Web.Models.Reservation.ReservationPeriodViewModel

@{
    ViewData["Title"] = "Select stay period";
}

<h2>@ViewData["Title"]</h2>

<hr />

<form asp-action="SelectStayPeriod">
    @Html.HiddenFor(m => m.CheckinDate)
    @Html.HiddenFor(m => m.CheckoutDate)

    <div class="row form-group">
        <div class="col-sm-1">
            <label for="FromDate">From date</label>
        </div>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="FromDate" value="@Model.CheckinDate.ToString("dd-MM-yyyy")" readonly />
        </div>
        <div class="col-sm-1">
            <label for="ToDate">to date</label>
        </div>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="ToDate" value="@Model.CheckoutDate.ToString("dd-MM-yyyy")" readonly />
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn">Continue to reservation</button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-datepicker.css" />
        <script src="~/lib/bootstrap/dist/js/bootstrap-datepicker.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-datepicker.min.css" />
        <script src="~/lib/bootstrap/dist/js/bootstrap-datepicker.min.js"></script>
    </environment>

    <script>
        $(document).ready(function () {
            $('#FromDate').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                todayHighlight: true,
                startDate: '0d'
            }).on('changeDate', function () {
                var fromDate = $('#FromDate').datepicker('getDate');
                $('#CheckinDate').val(fromDate.toLocaleDateString());
                var toDate = $('#ToDate').datepicker('getDate');

                fromDate.setDate(fromDate.getDate() + 1);
                $('#ToDate').datepicker('setStartDate', fromDate);

                if (fromDate >= toDate) {
                    $('#ToDate').datepicker('setDate', fromDate);
                    $('#CheckoutDate').val(fromDate.toLocaleDateString());
                }
            });

            var minEndDate = $('#FromDate').datepicker('getDate');
            minEndDate.setDate(minEndDate.getDate() + 1);

            $('#ToDate').datepicker({
                format: 'dd-mm-yyyy',
                autoclose: true,
                todayHighlight: true,
                startDate: minEndDate
            }).on('changeDate', function () {
                var toDate = $('#ToDate').datepicker('getDate');
                $('#CheckoutDate').val(toDate.toLocaleDateString());
            });
        });
    </script>
}
